---
import CardService from "../../components/resources/CardService.astro";
---

<section
    id="services"
    class="section text-secondary dark:text-primary text-center bg-transparent
    flex flex-col md:flex-row gap-6 items-center justify-center"
    style={` background: transparent; background-size: 10%;
     padding-top: 0px; 
    
    `}
>
    <CardService
        img="https://img.freepik.com/free-photo/financial-independent-woman-buying-new-house_23-2149571926.jpg?w=360"
        title=" Residential Property Sales"
        description=`When looking for a property, you need to make sure all your
        interests are well represented. A dedicated Real Estate Broker
        will provide you great advantage in the market. JC International
        Realty Group, LLC knows the business in every step of the
        process. Looking for the perfect home should always start by
        location, this is the most important aspect when buying real
        estate.`
    />
    <CardService
        img="https://img.freepik.com/free-photo/woman-doing-daily-activities-minimal-decorated-room_23-2150407587.jpg?w=360"
        title=" Residential Property Sales"
        description=`When looking for a property, you need to make sure all your
        interests are well represented. A dedicated Real Estate Broker
        will provide you great advantage in the market. JC International
        Realty Group, LLC knows the business in every step of the
        process. Looking for the perfect home should always start by
        location, this is the most important aspect when buying real
        estate.`
    />
    <CardService
        img="https://img.freepik.com/free-photo/small-kitchen-space-with-modern-design_23-2150710557.jpg?w=360"
        title=" Residential Property Sales"
        description=`When looking for a property, you need to make sure all your
        interests are well represented. A dedicated Real Estate Broker
        will provide you great advantage in the market. JC International
        Realty Group, LLC knows the business in every step of the
        process. Looking for the perfect home should always start by
        location, this is the most important aspect when buying real
        estate.`
    />
    <CardService
        img="https://img.freepik.com/free-photo/woman-couch-eating-front-laptop_23-2148751492.jpg?w=360"
        title=" Residential Property Sales"
        description=`When looking for a property, you need to make sure all your
        interests are well represented. A dedicated Real Estate Broker
        will provide you great advantage in the market. JC International
        Realty Group, LLC knows the business in every step of the
        process. Looking for the perfect home should always start by
        location, this is the most important aspect when buying real
        estate.`
    />
</section>
