---
import { team } from "../../config/team.json";
console.log(team);
import { Image } from "astro:assets";
import HeadTitle from "../resources/HeadTitle.astro";
import HeadtitleTitle from "../ui/HeadtitleTitle.astro";
---

<style>
    @keyframes floatAnimation {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-10px);
        }
    }
</style>

<div
    id="team"
    class="section text-secondary dark:text-primary justify-center text-center bg-transparent flex flex-col gap-6 items-center md:pl-[5vw] md:pr-[5vw]"
    style={` background: transparent; background-size: 10%;
       
`}
>
    <div class="self-end">
        <HeadtitleTitle headtitle="Know our team" title="Business Leaders" />
    </div>

    <div
        class="flex flex-col md:flex-row flex-wrap gap-5 items-center justify-center"
    >
        <a
            href="#"
            class="flex flex-row bg-gradient-to-t from-third to-fourth w-[350px] items-center overflow-hidden bg-third max-h-[200px] relative border border-gray-200 rounded-lg shadow md:flex-row dark:border-gray-700 dark:bg-gray-800"
        >
            <div class="w-[40%] wfit">
                <img
                    class="object-cover block w-full h-full rounded-t-lg md:rounded-none md:rounded-s-lg"
                    src="/team/image 8.png"
                    alt=""
                />
                <div
                    class="absolute bottom-0 left-0 w-full h-14 bg-gradient-to-t from-third to-transparent"
                >
                </div>
                <div
                    class="absolute p-4 pb-2 bottom-0 left-0 font-bold text-primary z-20 text-start"
                >
                    <h2 class="text-lg">Jane Doe</h2>
                    <h3 class="text-sm -mt-2">sales Manager</h3>
                </div>
            </div>

            <div
                class="w-[60%] h-min flex flex-col justify-between items-center bg-[#263667] dark:bg-primary p-4 leading-normal text-primary dark:text-secondary text-center border-l-10 border-gray-400 rounded-l-full border-solid"
                style="

   border-left: solid 16px gray;
    padding: 100px;
    margin: 0px;
    height: 100%;
    margin-left: -20px;
    min-width: unset;
    padding-top: 200px;
    transform: rotate(324deg);"
            >
            </div>

            <div
                class="bg-[#263667] dark:bg-primary w-[200px] absolute right-0 top-0 text-primary dark:text-secondary flex flex-col items-center pt-10"
            >
                <h2 class="text-xl bg-gray-400 w-fit">1234565890</h2>
                <h3>example@email.com</h3>
                <h4>CEO Business</h4>
                <h3 class="pt-2">JC International Member</h3>
            </div>
        </a>

        <a
            href="#"
            class="flex flex-row bg-gradient-to-t from-third to-fourth w-[350px] items-center overflow-hidden bg-third max-h-[200px] relative border border-gray-200 rounded-lg shadow md:flex-row dark:border-gray-700 dark:bg-gray-800"
        >
            <div class="w-[40%] wfit">
                <img
                    class="object-cover block w-full h-full rounded-t-lg md:rounded-none md:rounded-s-lg"
                    src="/team/image 9.png"
                    alt=""
                />
                <div
                    class="absolute bottom-0 left-0 w-full h-14 bg-gradient-to-t from-third to-transparent"
                >
                </div>
                <div
                    class="absolute p-4 pb-2 bottom-0 left-0 font-bold text-primary z-20 text-start"
                >
                    <h2 class="text-lg">Jane Doe</h2>
                    <h3 class="text-sm -mt-2">sales Manager</h3>
                </div>
            </div>

            <div
                class="w-[60%] h-min flex flex-col justify-between items-center bg-[#263667] dark:bg-primary p-4 leading-normal text-primary dark:text-secondary text-center border-l-10 border-gray-400 rounded-l-full border-solid"
                style="

   border-left: solid 16px gray;
    padding: 100px;
    margin: 0px;
    height: 100%;
    margin-left: -20px;
    min-width: unset;
    padding-top: 200px;
    transform: rotate(324deg);"
            >
            </div>

            <div
                class="bg-[#263667] dark:bg-primary w-[200px] absolute right-0 top-0 text-primary dark:text-secondary flex flex-col items-center pt-10"
            >
                <h2 class="text-xl bg-gray-400 w-fit">1234565890</h2>
                <h3>example@email.com</h3>
                <h4>CEO Business</h4>
                <h3 class="pt-2">JC International Member</h3>
            </div>
        </a>

        <a
            href="#"
            class="flex flex-row bg-gradient-to-t from-third to-fourth w-[350px] items-center overflow-hidden bg-third max-h-[200px] relative border border-gray-200 rounded-lg shadow md:flex-row dark:border-gray-700 dark:bg-gray-800"
        >
            <div class="w-[40%] wfit">
                <img
                    class="object-cover block w-full h-full rounded-t-lg md:rounded-none md:rounded-s-lg"
                    src="/team/image 10.png"
                    alt=""
                />
                <div
                    class="absolute bottom-0 left-0 w-full h-14 bg-gradient-to-t from-third to-transparent"
                >
                </div>
                <div
                    class="absolute p-4 pb-2 bottom-0 left-0 font-bold text-primary z-20 text-start"
                >
                    <h2 class="text-lg">Jane Doe</h2>
                    <h3 class="text-sm -mt-2">sales Manager</h3>
                </div>
            </div>

            <div
                class="w-[60%] h-min flex flex-col justify-between items-center bg-[#263667] dark:bg-primary p-4 leading-normal text-primary dark:text-secondary text-center border-l-10 border-gray-400 rounded-l-full border-solid"
                style="

   border-left: solid 16px gray;
    padding: 100px;
    margin: 0px;
    height: 100%;
    margin-left: -20px;
    min-width: unset;
    padding-top: 200px;
    transform: rotate(324deg);"
            >
            </div>

            <div
                class="bg-[#263667] dark:bg-primary w-[200px] absolute right-0 top-0 text-primary dark:text-secondary flex flex-col items-center pt-10"
            >
                <h2 class="text-xl bg-gray-400 w-fit">1234565890</h2>
                <h3>example@email.com</h3>
                <h4>CEO Business</h4>
                <h3 class="pt-2">JC International Member</h3>
            </div>
        </a>

        <a
            href="#"
            class="flex flex-row bg-gradient-to-t from-third to-fourth w-[350px] items-center overflow-hidden bg-third max-h-[200px] relative border border-gray-200 rounded-lg shadow md:flex-row dark:border-gray-700 dark:bg-gray-800"
        >
            <div class="w-[40%] wfit">
                <img
                    class="object-cover block w-full h-full rounded-t-lg md:rounded-none md:rounded-s-lg"
                    src="/team/image 11.png"
                    alt=""
                />
                <div
                    class="absolute bottom-0 left-0 w-full h-14 bg-gradient-to-t from-third to-transparent"
                >
                </div>
                <div
                    class="absolute p-4 pb-2 bottom-0 left-0 font-bold text-primary z-20 text-start"
                >
                    <h2 class="text-lg">Jane Doe</h2>
                    <h3 class="text-sm -mt-2">sales Manager</h3>
                </div>
            </div>

            <div
                class="w-[60%] h-min flex flex-col justify-between items-center bg-[#263667] dark:bg-primary p-4 leading-normal text-primary dark:text-secondary text-center border-l-10 border-gray-400 rounded-l-full border-solid"
                style="

   border-left: solid 16px gray;
    padding: 100px;
    margin: 0px;
    height: 100%;
    margin-left: -20px;
    min-width: unset;
    padding-top: 200px;
    transform: rotate(324deg);"
            >
            </div>

            <div
                class="bg-[#263667] dark:bg-primary w-[200px] absolute right-0 top-0 text-primary dark:text-secondary flex flex-col items-center pt-10"
            >
                <h2 class="text-xl bg-gray-400 w-fit">1234565890</h2>
                <h3>example@email.com</h3>
                <h4>CEO Business</h4>
                <h3 class="pt-2">JC International Member</h3>
            </div>
        </a>

        <!-- wrapper teams -->
    </div>
</div>
