@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';

/* Add the Google Fonts link here */

html {
  font-family: 'Roboto', sans-serif;
  background: white;
  /* color: currentColor; */
  transition: all ease-in-out 0.3s;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button {
 font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

p, a {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

html a {
  text-decoration: none;
  /* color: gray; */
}

html a:hover {
  text-decoration: none;
  color: rgb(145 177 83);
}

h1, h2, h3, h4, h5, h6, span, a {
 font-family: 'Roboto', sans-serif;
}
h2{
  font-size: xx-large;
}


/* Estilos generales para todos los dispositivos */
.section {
  padding: 6vw;  

}


/* Media query para dispositivos de escritorio (PC) */
@media (min-width: 768px) {
  .section {   
    padding: 6vw;    
  }
  .section_broad{
    padding-left:8vw;  
    padding-right: 8vw ;
  }
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
  .section {
    padding: 6vw;    
  }
}

.dark .section {
  background: radial-gradient(#273768, #263755) !important;;    
  /* background: radial-gradient(#474747, #111827) !important; */
}

.section:not(.dark) {
  background: radial-gradient(#ffffff30, #c6c6c6);
}
