---
// Header.astro
import clientData from "../config/clientData.json";
import ThemeIcon from "./ui/ThemeIcon.astro";
const headerNavs = [
  { url: "/home", label: "home" },
  { url: "/MLS search", label: "MLS search" },  
  { url: "/officedirectory", label: "office directory" },
  { url: "/contact", label: "contact" },  
     
  // {"url": "/gallery", "label": "Gallery"},
  // {"url": "/testimonials", "label": "Testimonials"}
];
---



<style>
  header {
    transition: all 0.2s;
    outline: none;
    border: none;
  }

  .mobile-menu-container {
    transition: all 2s;
  }

  /* Media query for mobile devices */
  @media (max-width: 768px) {
  }

  /* Media query for desktop devices */
  @media (min-width: 768px) {
    header {
      bottom: auto;
    }
  }
</style>

<header transition:persist id="header-nav"
  class="bg-transparent md:bottom-auto bottom-0 w-full fixed z-40 border-gray-200 text-primary dark:text-secondary   "
>
  <div
    class="max-w-screen flex flex-wrap items-center justify-evenly mx-10 p-4"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <svg class="text-third "  xmlns="http://www.w3.org/2000/svg" width="3.2em" height="3.2em" viewBox="0 0 48 66"><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path fill="currentColor" fill-rule="evenodd" stroke="#000" d="M17 14L44 24V44H17L17 14Z" clip-rule="evenodd"/><path stroke="#000" d="M17 14L4 24L4 44H17"/><path stroke="#fff" d="M35 44V32L26 29L26 44"/><path stroke="#000" d="M44 44H17"/></g></svg>
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap  "
      >
        {clientData.web_name}</span
      >
    </a>
    <!-- toogle navbar mobiles -->
    <button
      id="mobile-menu-toggle"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    >
      <span class="sr-only">Open main menu</span>
  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="21" stroke-dashoffset="21" d="M5 21H19"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.2s" values="21;0"/></path><path stroke-dasharray="15" stroke-dashoffset="15" d="M5 21V8M19 21V8"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.2s" dur="0.2s" values="15;0"/></path><path stroke-dasharray="26" stroke-dashoffset="26" d="M2 10L12 2L22 10"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.4s" values="26;0"/></path></g></svg>
    </button>

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:border-gray-700"
      >
        <li>
          <a
            href="/"
            class="block py-2 px-3 rounded md:bg-transparent  md:p-0 "
            aria-current="page"
          >
            <svg
            class=""
              xmlns="http://www.w3.org/2000/svg"
              width="1.5em"
              height="1.5em"
              viewBox="0 0 24 24"
              ><rect
                width="4"
                height="8"
                x="10"
                y="13"
                fill="currentColor"
                fill-opacity="0"
                ><animate
                  fill="freeze"
                  attributeName="fill-opacity"
                  begin="0.9s"
                  dur="0.15s"
                  values="0;0.3"></animate></rect
              ><g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path
                  stroke-dasharray="15"
                  stroke-dashoffset="15"
                  d="M4.5 21.5h15"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    dur="0.2s"
                    values="15;0"></animate></path
                ><path
                  stroke-dasharray="15"
                  stroke-dashoffset="15"
                  d="M4.5 21.5V8M19.5 21.5V8"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    begin="0.2s"
                    dur="0.2s"
                    values="15;0"></animate></path
                ><path
                  stroke-dasharray="24"
                  stroke-dashoffset="24"
                  d="M9.5 21.5V12.5H14.5V21.5"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    begin="0.4s"
                    dur="0.4s"
                    values="24;0"></animate></path
                ><path
                  stroke-dasharray="30"
                  stroke-dashoffset="30"
                  stroke-width="2"
                  d="M2 10L12 2L22 10"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    begin="0.5s"
                    dur="0.4s"
                    values="30;0"></animate></path
                ></g
              ></svg
            >
          </a>
        </li>
        {
          headerNavs.map((nav) => (
            <li>
              <a
                href={nav.url}
                class="block py-2 capitalize px-3  rounded md:bg-transparent  md:p-0 "
                aria-current="page"
                style="    text-transform: capitalize;"
              >
                {nav.label}
              </a>
            </li>
          ))
        }
        <!-- dark mode toggle button -->
        <ThemeIcon />
      </ul>
    </div>
  </div>
</header>

<script is:inline>
  function hiddeNavbar() {
    var header = document.querySelector("header");
    var lastScrollTop = 0;

    window.addEventListener("scroll", function () {
      var st = window.pageYOffset || document.documentElement.scrollTop;
      var isMobile = window.innerWidth <= 768;

      if (st > lastScrollTop) {
        // Desplazamiento hacia abajo
        header.style.transform = isMobile
          ? "translateY(100%)"
          : "translateY(-100%)";
      } else {
        // Desplazamiento hacia arriba
        header.style.transform = isMobile ? "translateY(0)" : "translateY(0%)";
      }

      lastScrollTop = st;
    });
  }

  function toggleShowNavMobil() {
    // Agregar un event listener para el clic en el botón de alternancia del menú móvil
    var navbarToggle = document.getElementById("mobile-menu-toggle"); // Seleccionar el botón por su id
    navbarToggle.addEventListener("click", function () {
      var navbar = document.getElementById("navbar-default");
      navbar.classList.toggle("hidden"); // Alternar la clase 'hidden' para mostrar/ocultar el menú});
    });
  }


  window.addEventListener("DOMContentLoaded", function () {
  toggleShowNavMobil();    
  hiddeNavbar();  
  }); 

//   document.addEventListener('astro:page-load', () => {     
//    toggleShowNavMobil();    
//    hiddeNavbar();
  
//  });
  document.addEventListener("astro:after-swap", () => {
    toggleShowNavMobil();
    hiddeNavbar();    
   
  });
</script>




