---
interface Props {
    img: string;
    title: string;
    description: string;
}
const { img, title, description } = Astro.props;
---

<div
    class="w-full text-center relative  border-gray-200 rounded-none shadow"
>
    <div class="p-0 flex flex-col h-full w-56 items-center">
        <div
            class="bg-black w-fit mb-3 rounded-full p-4"
            style="background-color: #7b954a;"
        >
            <img
                class="w-[80px]  bg-transparent"
                style="filter: invert(1);"
                src={img}
                alt=""
            />
        </div>
        <h5 class="mb-2 p-3 text-xl font-normal tracking-tight ">
            {title}
        </h5>

        <span>
            <p class="mb-3 font-normal text-sm text-[gray] dark:text-gray-400 ">
                {description}
            </p>
       
        </span>
    </div>
</div>
