---
interface Props {
    img: string;
    title: string;
    description: string;
}
const { img, title, description } = Astro.props;
---

<div
    class="max-w-sm text-white dark:text-primary relative aspect-2-3 w-[300px] h-[420px] bg-white border-gray-200 rounded-none shadow dark:bg-gray-800 dark:border-gray-700"
    style={`background-image: url(${img});`}
>
    <div
        class="p-8 text-start flex flex-col h-full w-fit justify-between items-start"
        
        style="background: linear-gradient(354deg, black, transparent, transparent);
        background: radial-gradient(transparent, #00000074);"
    >
        <h5 class="mb-2 text-xl font-bold tracking-tight dark:text-white">
            {title}
        </h5>

        <span>
            <p class="mb-3 font-normal text-sm text-silver line-clamp-1">
                {description}
            </p>
            <a
                href="#"
                class="inline-flex items-center py-2 text-xs font-medium text-center text-white rounded-lg hover:text-gray-100 focus:ring-4 focus:outline-none uppercase"
            >
                Read more
                <!-- <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
        >
            <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg> -->
            </a>
        </span>
    </div>
</div>
