---
import CardValues from "../../components/resources/CardValues.astro";
import HeadTitle from "./HeadTitle.astro";
---

<section
    id="services"
    class="section text-secondary dark:text-primary text-center 
    bg-transparent flex flex-col gap-6 items-center justify-center
    md:pl-[18vw] md:pr-[18vw]"
    style={` background: transparent; background-size: 10%;
           
    `}
>
  
       
<div class="self-start pb-16 pt-2">
    <HeadTitle title="Why choose us" />
    <h2 class=" md:w-[500px] text-start">
        We work an extremely high standar of customer satisfaction
    </h2>
</div>

    <div class="flex flex-col md:flex-row  md:w-full gap-10 items-center justify-center">
   
        
        <CardValues
            img="/whychooseus/1.png"
            title=" Residential Property Sales"
            description=`When looking for a property, you need to make sure all your
        location, this is the most important aspect when buying real
        estate.`
        />
        <CardValues
            img="/whychooseus/1.png"
            title=" Residential Property Sales"
            description=`When looking for a property, you need to make sure all your
        location, this is the most important aspect when buying real
        estate.`
        />
        <CardValues
            img="/whychooseus/1.png"
            title=" Residential Property Sales"
            description=`When looking for a property, you need to make sure all your
        location, this is the most important aspect when buying real
        estate.`
        />
        <CardValues
            img="/whychooseus/1.png"
            title=" Residential Property Sales"
            description=`When looking for a property, you need to make sure all your
        location, this is the most important aspect when buying real
        estate.`
        />
    </div>
</section>
