<button
type="button"
class="mt-4 gap-2 text-gray-900 flex flex-row bg-white border border-gray-300 focus:outline-none hover:bg-fourth focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 dark:bg-third dark:text-white dark:border-gray-600 dark:hover:bg-fourth dark:hover:border-gray-600 dark:focus:ring-gray-700 w-max"
>
Continue reading
<svg
    class="w-6 h-6 text-gray-800 dark:text-white"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 14 10"
>
    <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
</svg>
</button>